aagFactory/pipeline/P_RealTime_Main.json
{
	"name": "P_RealTime_Main",
	"properties": {
		"activities": [
			{
				"name": "ForEach File Name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('fileNames')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Real-Time Actual Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P_Real-Time Actual Load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"folderName": {
										"value": "@concat('lnd/', utcnow('yyyy_MM_dd_hh_mm_ss'))",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat(item(),'pal_csv')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set File Names",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNames",
					"value": {
						"value": "@activity('Lookup File Names').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup File Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_TXT_NYISO_FileNames",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String",
				"defaultValue": "200105"
			},
			"fileNames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}