aagFactory/PartialArmTemplates/ArmTemplate_8_22_2020_11_25_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aagFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/P_Real-Time Actual Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "http://mis.nyiso.com/public/P-58Blist.htm",
				"activities": [
					{
						"name": "Download",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Binary_RealTime",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_LAKE_RealTime",
								"type": "DatasetReference",
								"parameters": {
									"folderName": {
										"value": "@pipeline().parameters.folderName",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat(pipeline().parameters.fileName,'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "20200801"
					},
					"folderName": {
						"type": "string",
						"defaultValue": "lnd/2020_08_22_05_00_00"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_RealTime_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach File Name",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set File Names",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('fileNames')",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 5,
							"activities": [
								{
									"name": "Execute Real-Time Actual Load",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "P_Real-Time Actual Load",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileName": {
												"value": "@item().Prop_0",
												"type": "Expression"
											},
											"folderName": {
												"value": "@variables('folderName')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set File Names",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup File Names",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fileNames",
							"value": {
								"value": "@activity('Lookup File Names').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup File Names",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set Folder Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_TXT_NYISO_FileNames",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set Folder Name",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "folderName",
							"value": {
								"value": "@concat('lnd/', utcnow('yyyy_MM_dd_hh_mm_ss'))",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"fileName": {
						"type": "String",
						"defaultValue": "200105"
					},
					"fileNames": {
						"type": "Array"
					},
					"folderName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/P_Real-Time Actual Load')]"
			]
		}
	]
}